<form action="/" method="post">
  <input id="title" name="title" type="text" placeholder="Title" required>
  <input id="description" name="description" type="text" placeholder="Description" required>
  <input id="name" name="name" type="text" placeholder="Contact name" required>
  <input id="email" name="email" type="text" placeholder="Contact email" required>
  <label for="phone">Contact phone:</label>
  <input id="phone" name="phone" type="tel" required>
  <button type="submit">Add Job</button>
</form>